@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
}

.plug{
    font-size: 0;
}

a.to-top-button{
    text-decoration: none;
    font-size: 30px;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 200px;
}

.top-side{
    background-image: url('back.jpg');
    background-size: cover;
    min-height: 980px;
}

.nav-panel{
    display: flex;
    background-color: rgba(34, 34, 34, 0.5);    
}

.nav-elem a{
    width: 33%;
}
.nav-elem{
    margin: 0 30%;
    justify-content: space-between;
}
.nav-panel a{
    text-decoration: none;
}