@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sansita+Swashed&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 22, 34);
    overflow: hidden;   
}

.navPanel a{
    font-family:'Oswald', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 5px;
    color: #edf0f1;
    text-decoration: none;
    padding: 0 20px;
}

body{
    transition: 0.5s;
    background-image: url("back.png");
}
a{
    font-family: 'Sansita Swashed', cursive;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding: 0 20px;
}

a.vit{
    border: 2px solid white;
    padding: 10px 60px;
}

a.vit:hover{
    padding: 10px 80px;
    box-shadow: 0 0 20px white; 
}

a.cta{
    border: 2px solid rgba(0,136,169,1);
    border-radius: 30px;
    padding: 10px 60px;
    background-color: rgba(0,136,169,1);
}

a.cta:hover{
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 80px;
    box-shadow: 0 0 20px rgba(0,136,169,1); 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navPanel{
    list-style: none;
}

.navPanel li{
    display: inline-block;
    padding: 0 20px;
}

.navPanel li a, .vit, .cta{
    transition: 0.3s;
}

.navPanel li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color:  rgba(0,136,169,0.8);
}

content{
    height: 1000px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20%;
    margin-top: 30%;
}


footer ul li{
    display: inline-block;
    
}


footer ul li a .fa{
    color: grey;
    transition: 0.5s;
    padding: 5px;
    font-size: 80px;

}

footer ul li a .fa-vk:hover{
    color: rgb(64, 46, 230);

}

footer ul li a .fa-youtube:hover{
    color: rgb(201, 27, 27);
}

footer ul li a .fa-github:hover{
    color: rgb(127, 26, 158);
}

