@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); /*font-family: 'Staatliches', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap'); /*font-family: 'Hind Siliguri', sans-serif;*/

/*TO DO:
1. Underline for text in nav-panel
2. Smooth animation for references
3. Color correction
4. Cross-browser
5. List-decoration
*/



* {
    margin: 0;
    padding: 0;
}

.plug{
    font-size: 0;
}


.my-container{
    min-height: 990px;
}

.my-proj{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.my-row{
    width: 100%;
}

.extra-margin{
    margin: 0 300px;
}

.extra-padding{
    margin: 0 300px;
}

.bg-container-L{
    background-color: black;
}

span{
    color: red;
    background-color: none;
}

a.to-top-button{
    text-decoration: none;
    font-size: 30px;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 200px;
}

.welcome-side{
    background-image: url('back.jpg');
    background-size: cover;
}

.nav-panel{
    background-color: rgba(34, 34, 34, 0.5);    
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}

.nav-panel a{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.nav-elem{
    width: 33%;
    margin: auto;
    flex: none;
    text-align: center;
}

.title{
    text-align: center;
    color: white;
    letter-spacing: 6px;
    font-size: 100px;
    font-family: 'Staatliches', cursive;
    text-shadow: 0 4px 10px #000;
}

.sub-title{
    font-size: 40px;
}

.center{
    margin-top: 220px;
}

.micro-pad{
    padding-top: 30px;
}

.SE-side{
    background-color: #007143;
    display: flex;
    justify-content: center;
}

.section{
    width: 100%;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;

}

.title__skills{
    font-size: 40px;
}

.list{
    list-style: none;
}

.list li{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Sansita', cursive;
}

.P-side{
    background-color: #36D695;
}

.L-side{
    background-color: #60D6A7;
}

.circle{
    width: 500px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.my-proj{
    background-color: red;
    
}

.refer{
    font-size: 80px;
    transition: 0.5s;
}

.refer:hover{
    color: red;
}







/*
#00AE68
#21825B
#007143
#36D695
#60D6A7
*/
